version: '3.7'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/app
      - /app/node_modules

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - 8888:8888
    volumes:
      - ./backend:/app
      - ./ml:/app/ml
      - ./stitching:/app/stitching

  ml:
    build:
      context: ml
      dockerfile: Dockerfile
    volumes:
      - ./ml:/app
  
  

